body {
    background-color: ghostwhite;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.profile-pic {
    width: 200px;
    height: 200px;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 1px 10px 1px 10px;
    margin: 0 10px 0 10px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    width: 150px;
}
