* {
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
}

.profile-pic {
    border-radius: 50px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar-image {
    width: 70px;
    height: 70px;
}

.bio-image {
    width: 100px;
    height: 100px;
}

.modal {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.modal-box {
    width: 45%;
    position: fixed;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 80%;
    display: grid;
    justify-self: center;
    background-color: ghostwhite;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
    top: 10%;
}

button {
    font-size: medium;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
    padding: 0 1px 0 1px;
    margin: 10px;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 1px 10px 1px 10px;
    margin: 0 10px 0 10px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    width: 150px;
}
