* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: ghostwhite;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
}

main {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 30px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 1px 15px 1px 15px;
    margin: 10px 0 10px 0;
}

header {
    display: grid;
    grid-template-columns: 185px 1fr;
    justify-content: space-between;
    padding: 0 80px 0 80px;
    background-color: darkcyan;
    color: white;
    height: 50px;
    margin-bottom: 20px;
}

.logo {
    height: 100%;
    display: grid;
    align-content: center;
    color: white !important;
    margin: 0 !important;
}

.mobile-menu {
    width: 40px;
    height: 40px;
    display: inline;
    justify-self: end;
    align-self: center;
}

.navbar-menu {
    display: grid;
    grid-template-columns: 100px 10fr 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
}

.welcome-container {
    position: relative;
    display: grid;
    grid-template-columns: 450px 1fr;
    margin: 0 50px 100px 50px;
    align-self: center;
}

.logo-container {
    width: 350px;
    align-self: center;
}

.logo-text {
    color: darkcyan;
    margin-bottom: 20px;
}

.auth-container {
    position: relative;
    border: none;
    width: 350px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 40px 20px 30px 20px;
    text-align: center;
}

.welcome-button {
    height: 43px;
    width: auto;
    padding: 10px 15px 10px 15px;
    color: white;
}

.submit-button {
    margin-bottom: 20px;
    background-color: darkcyan;
}

.switch-button {
    background-color: lightcoral;
}

.error-message {
    color: lightcoral;
    margin-bottom: 20px;
    text-align: start;
}

.password-reset {
    color: darkcyan;
    font-size: small;
    margin-bottom: 20px;
}

.border-line {
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

.app-container {
    position: relative;
    min-height: 100%;
    margin-left: 80px;
    margin-right: 80px;
}

.user-name {
    margin-bottom: 10px;
}

.user-group {
    margin-bottom: 10px;
}

.user-group-container {
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.bio-container {
    display: grid;
    grid-template-columns: 1fr;
}

.bio-text {
    width: 300px;
}

.bio-textarea {
    width: 300px;
    height: 100px;
    font-family: inherit;
    font-size: medium;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
    padding: 2px;
}

.bio-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.modal {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.modal-box {
    width: 45%;
    max-width: 400px;
    position: fixed;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 80%;
    display: grid;
    justify-self: center;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 15px;
    z-index: 2;
    top: 15%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.close-button {
    margin: 0;
    padding: 0 5px 0 5px;
    background-color: rgba(0, 0, 0, 0);
    width: auto;
    color: darkgray;
}

.bio-button {
    margin-right: 10px;
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: darkcyan;
    width: 120px;
}

.header-button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.header-link {
    color: white;
}

.input-field {
    border-radius: 6px;
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 10px;
    font-size: medium;
    height: 43px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    cursor: pointer;
    overflow: hidden;
}

.user-search {
    margin-bottom: 20px;
}

.user-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
}

.user-container {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    list-style-type: none;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25vw;
    min-width: 270px;
}

.user-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
}

.friend-button {
    margin-right: 10px;
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: darkcyan;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: small;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 5px;
}

@media screen and (max-width: 720px) {
    header {
        padding: 0 20px 0 20px;
    }
    .welcome-container {
        margin: 0 10px 30px 10px;
        grid-template-columns: 1fr;
        width: calc(100vw - 20px);
        justify-items: center;
        margin-bottom: 100px;
    }
    .logo-container {
        width: 80vw;
        max-width: 330px;
        margin: 30px 0 40px 0;
        text-align: center;
    }
    .auth-container {
        width: 400px;
        max-width: 90vw;
    }
    .app-container {
        margin: 0 20px 0 20px;
    }
    .user-search-container {
        width: 300px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .user-list {
        grid-template-columns: 1fr;
    }
    .user-container {
        width: 300px;
    }
    footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}
